# Ignore Python virtual environments
coref-env/
venv/
env/

# Ignore model weights and large files
*.th
*.tar
*.pt
*.ckpt
*.h5

# Ignore metadata and caches
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# VS Code
.vscode/
